.sword-crawl>img{
	height: 40px !important;
	position: absolute;
    right: 0;
    bottom: 0;
    background: white;
    padding: 6px;
    cursor: pointer;
}
.not-choose-u{
	opacity: 0;
}
.spy-post>img{
	height: 40px !important;
	position: absolute;
    right: 40;
    bottom: 0;
    background: pink;
    padding: 6px;
    cursor: pointer;
}